<%- include('../partials/header') %>
<h1>All Clients</h1>
<% clients.forEach(function(c) { %>
    <div class="entry clients">
        <h2><%= c.companyName %></h2>
    <p></p><%= c.address %><br>
    <%= c.city %>,
    <%= c.province %>
    <%= c.country %><br>
    <%= c.postalCode %><br>
    HST: <%= c.hst %></p>
        <p>
    Contact: <%= c.contact %> - <%= c.email %>    
</p>
    <a href="/clients/<%= c._id %>">Detail</a>
    </div>
<% }) %>
