<%- include('../partials/header.ejs') %>

    <h1>Client Detail</h1>
    <div class="entry clients">
    <h3><%= clients.companyName %></h3>
    <p>Contact: <%= clients.contact %> - <%= clients.email %><br>
    <%= clients.address %><br>
    <%= clients.city %>, <%= clients.province %> <%= clients.country %> <br>
    <%= clients.postalCode %><br>
    HST: <%= clients.hst %></p>
    <p>Jargon list: <%= clients.jargon %><br>
    Billing Notes: <%= clients.billingNotes %><br>
    Service Notes: <%= clients.serviceNotes %><br></p>
    <a href="/clients/<%= clients._id %>/edit">Edit</a>
</div>