<%- include('../partials/header') %>
<h1>Job Detail</h1>
<div class="entry">
    <ul>
        <li>
     <h2><a href="/<%= jobs.fileName %>"><%= jobs.source %></a></h2>
</li>
<li>
    Created Date:
    <%= jobs.createdDate %>
</li>
<li>
    Client:
    <a href="/clients/<%= jobs.client.id %>"><%= jobs.client.companyName %></a>
</li>
<li>
    Due Date:
    <%= jobs.dueDate %>
</li>
<li>
    Service:
    <%= jobs.service %>
</li>
<li>
    Rate:
    <%= jobs.rate %>
</li>
<li>
    Speed:
    <%= jobs.speed %>
</li>
<li>
    Status:
    <%= jobs.status %>
</li>
<li>
    File Length:
    <%= jobs.fileLength %>
</li>
<li>
    Length Adjustment:
    <%= jobs.lengthAdjustment %>
</li>
<li>
    Client Notes:
    <%= jobs.clientNotes %>
</li>
<li>
    Assigned To:
    <%= jobs.assignedTo.email %>
</li>
<li>
    Completedy By:
    <%= jobs.completedBy %>
</li>
<li>
    Private Notes:
    <%= jobs.privateNotes %>
</li>
<li>
    Interim Due Date:
    <%= jobs.interimDueDate %>
</li>
<li>
    Billing Notes:
    <%= jobs.billingNotes %>
</li>
<li>
    Project:
    <%= jobs.project %>
</li>
    <li>
        <form action="/jobs/<%= jobs.id %>/edit" method="GET">
            <button type="submit">Edit</button></form>
    <form action="/jobs/<%= jobs.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">Delete</button></form>
    </li>
</ul>
</div>


