<%- include('../partials/header') %>

<h1>Edit Job</h1>

<div class="entry">
<form action="/jobs?_method=PUT" method="POST">
    <label>Job ID:
        <input type="text" name="id" value="<%= job._id %>"readonly>
    </label>
    <% if (user.admin) { %>
    <label>Source file:
        <input type="text" name="source" value="<%= job.source %>" readonly>
    </label>
    <label>Client:
        <select name="client">
        <% clientIds.forEach(function(id){ %>
            <option value="<%= id._id %>"><%= id.companyName %></option>
        <% }) %>
        </select>
    </label>
    <label>Due:
        <input type="date" name="dueDate" value="<%= job.dueDate %>">
    </label>
    <label>Service:
        <select name="service" value="<%= job.service %>">
            <option value="<%= job.service %>"><%= job.service %> (Current)</option>
            <option value="Transcript">Transcribe</option>
            <option value="Captions">Caption</option>
            </select>
    </label>
    <label>Speed:
        <select name="speed" value="<%= job.speed %>">
            <option value="<%= job.speed %>"><%= job.speed %> (Current)</option>
            <option value="regular">Regular</option>
            <option value="rush">Rush</option>
            <option value="super rush">Super Rush</option>
            </select>
    </label>
    <label>File Length (mins):
        <input type="number" name="fileLength" value="<%= job.fileLength %>">
    </label>
    <label>Notes:
        <input type="text" name="privateNotes" value="<%= job.privateNotes %>">
    </label>
    <label>Project:
        <input type="text" name="project" value="<%= job.project %>">
    </label>
    <label>Assign to:

        <select name="assignedTo">
            <option value="<%= job.assignedTo %>"><%= job.assignedTo.email %> (Current) </option>
        <% userlist.forEach(function(id){ %>
            <option value="<%= id._id %>"><%= id.email %></option>
        <% }) %>
        </select>
    </label>
<% } %>
    <label>Status:
        <select name="status">
            <option value="<%= job.status %>"><%= job.status %></option>
            <option value="Incomplete">Incomplete</option>
            <option value="Assigned">Assigned</option>
            <option value="Complete">Complete</option>
        </select>
    </label>
    <button type=submit>Submit</button>
</form>
</div>




