<%- include('../partials/header') %>
<h1>All Jobs</h1>

<% jobs.forEach(function(j) { %>
<div class="entry">
    <ul>
        <li>
    Job ID:
    <%= j._id %>
</li>
<li>
    Source:
    <%= j.source %>
</li>
<li>
    Client:
    <%= j.client.companyName %>
</li>
<li>
    Due Date:
    <%= j.dueDate %>
</li>
<li>
    Service:
    <%= j.service %>
</li>
<li>
    Speed:
    <%= j.speed %>
</li>
<li>
    File Length:
    <%= j.fileLength %>
</li>
<li>
    Assigned To:
    <%= j.assignedTo.email %>
</li>
<li>
    <a href="/jobs/<%= j._id %>">Details</a>
    <a href="/jobs/<%= j._id %>/edit">Edit</a>
    </li>
</ul>
</div>
<% }) %>

<p><a href="/jobs/new">Add Job</a></p>