<%- include('../partials/header') %>
<h1>All Jobs</h1>

<% jobs.forEach(function(j) { %>
<div class="entry <%= j.status %>">

    <ul>
<li> 
    <h2><a href="/<%= j.fileName %>"><%= j.source %></a></h2>
</li>
<li>
    <%= j.service %> due <%= j.dueDate %>
</li>
</ul>
<ul>
<li>
    <%= j.fileLength %> mins
</li>
<li>
    <% if (j.status === 'Complete') { %>
        Complete
    <% } else if (j.status === 'Incomplete') { %>
        Incomplete
    <% } else { %>
    Assigned to: <%= j.assignedTo.email %>
    <% } %>
</li>
<li>
    <% if (user.admin) { %>
    <li>
    <a href="/jobs/<%= j._id %>">Details</a>
</li>
<% } %>
<li>
    <a href="/jobs/<%= j._id %>/edit">Edit</a>
</li>
    </li>
</ul>
</div>
<% }) %>



</body>