<%- include('../partials/header.ejs') %>
<h1>User Detail</h1>

<div class="entry clients">
    <h4><%= users.name %> 
        <% if (users.admin) { %>
             (Administrator)
            <% } %>
        </h4>
        <p>
        <%= users.email %><br><br>
        <%= users.address %><br>
        <%= users.city %>, <%= users.province %> <%= users.country %><br>
        <%= users.postalCode %><br><br>
        Time Zone: <%= users.timeZone %><br>
        Rate: <%= users.rate %><br>
        HST Number: <%= users.hstNumber %></p>
    <a href="/users/<%= users._id %>/edit">Edit</a>
</div>

    
