<%- include('../partials/header.ejs') %>
<h1>User Detail</h1>

<div class="entry clients">
    <h4><%= user.name %> 
        <% if (user.admin) { %>
             (Administrator)
            <% } %>
        </h4>
        <p>
        <%= user.email %><br><br>
        <%= user.address %><br>
        <%= user.city %>, <%= user.province %> <%= user.country %><br>
        <%= user.postalCode %><br><br>
        Time Zone: <%= user.timeZone %><br>
        Rate: <%= user.rate %><br>
        HST Number: <%= user.hstNumber %></p>
    <a href="/users/<%= user._id %>/edit">Edit</a>
</div>

    
